
.align-center {
    text-align: center;
}

.header_title {
    text-align: center;
    padding: 8px 0px 8px 0px;
}

.completed_task {
    
}

.header_title a, .header_title a:visited {
	text-decoration: none;
	color: #FFF;
}